/*  
Theme Name: Metatheme 
Theme URI: http://metabiosis.kuri.mu/
Description: A theme for the <a href="http://metabiosis.kuri.mu">metabiosis</a> project.
Version: 0.1
Author: Aymeric Mansoux and Marloes de Valk
Author URI: http://kuri.mu 

        This theme was designed and built hacking the
        livingOS beta theme from Tim Hyde

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
*/

*{margin: 0;
  padding: 0;
  border: 0;}

/*-------body stuff------*/
body {
	background: #D1D1D1 url(images/bg-grid.png) ; 
	font-family: "Arial", sans-serif;
	font-size: 0.9em;
	color: #252525;
	text-align: left;
	}
#container {
	background: #000000 ;
	} 
#page 	{
	background: url(images/bg-5.gif) top left repeat-y ;
	}	

/*---------header--------*/
#header {
	color: #FFFFFF;
 	width: 880px;
	height: 180px;
	background: url(images/metalogo-web-2.png) no-repeat;
	margin-left: 0px}

#header h1{
	height:180px;
	cursor: pointer;}
	
#header h1 span{display: none;}

.description{display:none;}

#page hr{display:none;}

/*----general----*/
h2, h3, h4 {font-size: 1.2em;
	font-family:"Arial", sans-serif;
	font-weight: normal;}

a {color: #474747;}

blockquote {margin: 1em 0em 1em 2em;}

blockquote p {
  	margin:0 0 .75em;
  	font-style:italic;
  	color:#D1D1D1;}

blockquote p em {font-style:normal;}

/*--------images-----------*/

img {	padding: 0px;
	margin: 5px;}

a img {border: 1px #D1D1D1 solid;}

a:hover img {border: 1px #66A9DB solid}

/* ----- forms ------- */

#respond {
	font-family: "Arial", sans-serif;
	font-size: 1em;
	color: #66A9DB;
	padding-left: 15px;
	margin-top: 10px;}

input, textarea {
	font-family: "Arial", sans-serif;	
	color:#474747;
	background: #D1D1D1;
	padding:1px;
	margin-bottom: 3px;}

textarea:hover {cursor:text;}

input#s {
	width: 75%;
	font-size: 0.9em;}
input#sbutton{
	font-size: 0.8em;
	padding-right: 10px;
	padding-left: 10px;}

form{margin: 2px 2px 0 0px;}

#commentform {
	color: #474747;} 
	
#commentform input {
	color: #474747;
	border: 1px solid #474747;
	width: 170px;
	padding: 2px;
	margin: 5px 5px 0px 0;}

#commentform textarea {
	color: #474747;
	border: 1px solid #474747;
	width: 95%;
	height: 100px;
	padding: 2px;}

#commentform #submit {
	color: #474747;
	margin: 0;
/*	float:right; */
	margin-right: 25px;
	margin-top: 5px;}

/*----------content div parameters---------*/

#content {
	float: left;
	padding-left: 65px;
	/*margin-left: 20px;*/
	width: 640px;}

.notfound {
	color: #D1D1D1;
	font-family: Arial, sans-serif;
	font-size: 2.5em;}
.pagetitle
	{color:#D1D1D1;
	font-family: Arial, sans-serif;
	margin-bottom: 20px;}
.center
	{color:#252525;
	font-family: Arial, sans-serif;}
/*-------sidebar----*/
#sidebar {
	font-family: "Arial", sans-serif;	
	font-size: 0.85em;
	font-weight: normal;
	color: #D1D1D1;
	overflow:hidden;
	padding-left: 23px;
	width: 160px;
	padding-top: 17px;}

#sidebar ul {
	padding-left: 0px;
	margin-left: 0px;
	}

#sidebar ul li {
	color: #66A9DB;
	font-family: "Arial", sans-serif; 
	font-size: 1.3em;
	list-style-type: none;
	text-indent: 0px;
	}

#sidebar li li {
	font-size: 0.8em;
	color: #232323;}

#sidebar li li a {
	color: #232323;
	text-decoration: none;}
	

#sidebar li li a:hover {color: #D1D1D1;}

/*-----post content----*/
.post{
	border-bottom: #474747 1px dashed;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right:35px;
	color:#252525;
	font-size: 0.85em;
	text-align: justify;
	font-family: "Arial", sans-serif;}
	
.post a{color:#66A9DB;}

.post h2 {
	color: #E9E9E9;
	font-family: "Arial", Sans-serif;
	font-size: 2em;
	letter-spacing: -0.02em; }

.post h2 a{
	color: #E9E9E9;
	text-decoration: none;}

.post h2 a:hover {
	color: #E9E9E9 ;
	text-decoration: underline; }

.post ul{
	padding-bottom: 0.1em;}

.post li{
	margin-left: 2em;
	list-style-type: square;}

.post p{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;}
	
.post small{
	margin-bottom: 0px;
	color: #474747;
	font-size: 1.0em;
	display: inline;
	list-style: none;	
	font-family: "Georgia", "Times New Roman", "Times", sans-serif;}
.post small a{
	color:#474747;}
.post small a:hover {
	color:#9E9E9E;
	text-decoration: underline;}

.postmetadata{
	font-family: "Georgia", "Times New Roman", "Times", serif;
	font-size: 0.9em;
	color: #9E9E9E;
	padding-bottom: 0.5em;}

.postmetadata a{
	color: #9E9E9E;}

ol.commentlist li{
	font-family: "Georgia", "Times New Roman", "Times", serif;
	border-bottom: 1px solid #474747;
	list-style-type: none;
	padding: 5px;
	margin-left: 15px;
	margin-right: 25px;
	margin-bottom: 30px;}

small.commentmetadata a{
	color: #474747;}

h3#comments {
	color: #6B6B6B;
	margin-left: 8px;
	letter-spacing: -0.1em;}

.entry{
        /*line-height: 1.1em;*/
        margin-right: 10px;
	margin-bottom: 10px;}

.entrytext{
	/*line-height: 1.1em;*/
	margin-right: 10px;
	margin-bottom: 20px;}

.entrymore a{
	color: #66A9DB; }

/*-----------footer-----------*/
.clearer{
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;}
				
#footer {
	color: #474747;
	clear: both;
	text-align: left;
	height: 10px;
	padding: 50px 200px 20px 175px;
	font-size: 0.8em;
	font-family: "Arial", sans-serif;}

#footer a {color: #474747;}

/*----post nav-----*/

.navigation{
	font-family: "Arial", sans-serif;
	color: #474747;
	font-size: 0.9em;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 35px;}

.navigation a {color: #E9E9E9;}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}

.clear {
	clear:both;
	}

/*------Thumbnail Viewer Stuff---------*/
#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: absolute;
left: 0;
top: 0;
width: auto;
padding: 1px;
padding-bottom: 0;
background: #252525;
visibility: hidden;
z-index: 10;
cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font-size: 16px;
font-family: Arial, sans-serif;
letter-spacing: 3px;
line-height: 1.1em;
color: #A3C5DF;
padding: 5px 0;
text-align: right;
}


#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: #252525;
color: #252525;}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid #252525;
background-color: #FFF;
padding: 5px;
z-index: 5;
